<<<<<<< Updated upstream
.popup{width:200px; height:80px;text-align: center; }
#imiddle_view_imageView1{margin: auto; }
#imageView1 {margin: auto; }
#imageshow2 {  width:1200px; height:400px; display: table-cell; float: left; border:1px;} 
#imagchange { width:400px; height:400px; margin: auto;  border:1px;}
#imageshow3 { width:1000px; height:400px; display: table-cell; float: left; border:1px;}
.textimagedescri{width:200px; height:200px; display: table-cell; float: left; border:1px;}
.textimagedescri{overflow-y:scroll; overflow-x:scroll;}
#controlbuttonleft{width:80px; height:100px;text-align: center; }
#controlbuttonright{width:80px; height:100px;text-align: center; }
#imageshow2 { margin-left:10px;overflow-y:scroll; overflow-x:scroll;} 
#imageshow4 { margin-left:10px;overflow-y:scroll; overflow-x:scroll;} 
=======
body {
  display: flex;
}

#tab_bar {
	position: sticky;
}

@media (orientation: landscape) {
  #tab_bar {
    flex-direction: row;
    background: blue;
    top: 0px;
    width: 102px;
  }
}

@media (orientation: portrait) {
  #tab_bar {
    flex-direction: column;
    background: red;
    bottom: 0px;
    position:fixed;
    overflow: auto;
  }
}


/* Tab */
.popup{
	width: 90px;
	margin: 10px;
}

#tab{
	margin:0px auto;
}


/*view 1*/
#imageView1{   	/*container */
	background-color: lightblue;
}

#left_button, #right_button{
	float: left;
	margin-top: 100px;
	padding: 20px;
	text-align: center;
}


#image_and_desc{
	float: left;
	padding: 20px;
}


#pic_card{
	background-color: lightblue;
}


#image1{
	height: 400px;
}


/* view 2 */
#imageShow2{
	width:1200px; 
	height:400px;
	padding: 20px;
}

#tip-content{
	opacity: 0.5;
	width: 200px;
	height: 200px;
	float:left;
	background-color: green;
}








/*picture card*/
/*view 3*/
#big_div{
	background-color: lightblue;
	border: 1px solid black;
	width: 700px;
    height: 200px;
    margin-bottom: 20px;
}
#small_div{
	float:right;
	border: 1px solid black;
	width: 490px;
}
#small_div2{
    float: right;
    border: 1px solid black;
    width: 490px;
}

label{
	font-weight: bold;
}


#pic{
	float: left;
	display: block;
	height: 200px;
	width: 200px;
}
#desc{
	/*color: green;*/
}
#comments{
	/*color: yellow;*/

}
#button{

}
#list{
	list-style: none;
}

/*opacity: 0.5  # transparent */


/*rules for all*/
button{
	font-size: 15px;
}

>>>>>>> Stashed changes
